:root {
    --blanco: #ffffff;
    --negro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --grisclaro: #DFE9F3;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}
.servicios,
.navegacion-principal,
.formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    }
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    font-size: 1.5rem;
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--grisclaro) 0%, var(--blanco) 100%);
}
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 1.8rem;
}
h1,h2,h3 {
    text-align: center;
}
.titulo {
    /*text-transform: uppercase;*/
    color: var(--primario);
}
.titulo span {
    font-size: 4rem;
    padding: 0;
    color: var(--secundario);
    text-transform: none;
}
.contenedor {
    max-width: 120rem;
    /* margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto; */
    margin: 0 auto 0 auto;
}
.sombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(117,117,117,0.6);
    -moz-box-shadow: 0px 5px 15px 0px rgba(117,117,117,0.6);
    box-shadow: 0px 5px 15px 0px rgba(117,117,117,0.6);
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;

}
.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}
@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}
.boton:hover {
    cursor: pointer;
}
.nav-bg {
    background-color: var(--secundario);
}
.w100 {
    width: 100%;
}
@media (min-width: 768px) {
    .w100 {
        width: auto;
    }
}
.navegacion-principal {
    /* background-color: var(--primario); */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
/* @media (min-width: 480px) {
    
} */
@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}
/* @media (min-width: 1140px) {
    
}
@media (min-width: 1400px) {
    
} */
.navegacion-principal a{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem; 
}
/* p {
    background-color: var(--secundario);
} */
.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--negro);
}
/* body {
    background-color: yellow;
}
@media (min-width: 480px) {
    body {
        background-color: blue;
    }
}
@media (min-width: 768px) {
    body {
        background-color: cornflowerblue;
    }
} */
.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    position: relative;
    margin-bottom: 2rem;
}
.contenido-hero {
    position: absolute;
    /* background-color: rgba(0, 0, 0,.5) ; */
    background-color: rgb(0 0 0 / 65%);
    width: 100%;
    height: 100%;
    /* top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido-hero h2{
    color: #98CBE1;
}
.contenido-hero p {
    color: var(--blanco)
}
.contenido-hero h2 {
    font-size: 2.5rem;
}
.ubicacion {
    display: flex;
    align-items: flex-end;
}
@media (min-width: 768px) {
    .servicios {
        display: grid;
        /* grid-template-columns: 300px 300px;
        grid-template-rows: 200px 800px; */
        /* grid: 200px 800px / 300px 300px;*/
        /* grid-template-columns: 33.3% 33.3% 33.3%; */
        /* grid-template-columns: repeat(3, 1fr); */
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
    }
}
.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h3 {
    color: var(--secundario);
    font-weight: normal;
}
.servicio p {
    line-height: 2;
}
.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* contacto */
.formulario {
    background-color: var(--gris);
    width: min(60rem, 100%); /**Utilizar los valores mas pequenhos **/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;

}
.formulario fieldset {
    border: none;
}
.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}
@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 1rem;
    }
    .campo:nth-child(3),
    .campo:nth-child(4) {
        grid-column: 1/3;
    }
}
.campo {
    margin-bottom: 1rem;
}
.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
/* .campo input[type=text],
.campo input[type=tel] {
    background-color: red;
} */
.campo textarea {
    height: 20rem;
}
.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}
/* .enviar .boton {
    width: 100%;
} */
.flex {
    display: flex;
}
.alenear-derecha {
    justify-content: flex-end;
}
.footer {
    text-align: center;
}