/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
/* common style */
body {
  font-family: "Poppins", sans-serif;
}
p {
  color: #7e848c;
}
/* Header style start */
.btn-colour {
  background-color: #e76f51;
  width: 168px;
  height: 44px;
}
/* Header style end */

.text {
  color: #e76f51;
}
